body{
    margin: 0;
    text-align: center;  
    background-color: #6666;
}

.upper {
    display: block;
    box-sizing: border-box;
    width: 50%;
    border: 10px solid red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upper label{
    margin-left:-0px;
}

.upper input{
    display: block;
    border-radius: 15px;
    padding: 4px;
}

.upper input:hover{
    box-shadow: 0 6px red ;
}
.upper label {
    color:whitesmoke;
}
.upper label:hover{
    opacity: 0.5;
    color: orange;
    font-size: small;
}

.sbmt {
    position: inherit;
    width: fit-content;
    border: 2px solid orange ;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: -0px;
    color: whitesmoke;
}

.secondSct{
    display: block;
    position: relative;
}
.secondSct a{
    text-decoration: none;
    color: green;
    font-weight: 600;
}